[submodule "MaterialDesignExample"]
	path = MaterialDesignExample
	url = https://github.com/konradzdeb/MaterialDesignExample.git
[submodule "ArgonExample"]
	path = ArgonExample
	url = https://github.com/konradzdeb/ArgonExample.git
[submodule "DashboardBootstrap"]
	path = DashboardBootstrap
	url = https://github.com/konradzdeb/DashboardBootstrap.git
